.styledSidebar {
  /*color: $primary-text-color;
  background-color: $primary-bg-color;*/

  ion-header-bar{
    border: none;
    box-shadow: none;
    min-height: 150px;
    color: transparent;
    background-color: transparent;
    padding: 0;

    .item{
      background-color: transparent;
      color: transparent;
      border: none;
      width: 100%;
      height: 150px;

      img{
        height: 100%;
        /*width: 100%;*/
      }
    }
  }

  ion-content {
    top: 150px !important;

    .item{
      /*background-color: $primary-bg-color;
      color: $primary-text-color;
      font-family: $primary-font-family;*/
      border: none;

      .item-content{
        /*background-color: $primary-bg-color;
        color: $primary-text-color;*/
      }
    }
  }

  ion-footer-bar {
    /*background-color: $secondary-bg-color;
    color: $primary-text-color;*/
  }
}
