<ion-view>
  <ion-nav-title>Provider Projects</ion-nav-title>
  <ion-content>
    <ion-list>
      <div ng-if="vm.projects.length == 0">No Projects have been assigned to you.</div>
      <div class="list card" ng-repeat="p in vm.projects">
        <div class="item item-divider item-avatar">
          <img ng-src={{p.owner.avatar}} alt="Owner Image"/>
          <h2>{{p.title}}</h2>
          <p>{{p.owner.company}}</p>
          <span class="badge badge-assertive">{{p.createDate | date}}</span>
        </div>
        <div class="item item-body">
          <div ng-if="p.status === 'Started'">
            <span class="badge badge-balanced">Status: {{p.status}}</span>
          </div>
          <div ng-if="p.status === 'Completed'">
            <span class="badge badge-stable">Status: {{p.status}}</span>
          </div>
          <p>{{p.description}}</p>
          <p>
            <span ng-repeat="skill in p.skill" class="badge badge-assertive label-small relativeBadge">{{skill.name}}</span>
          </p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
